#Testimonials .container .ts-header-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
#Testimonials .container .ts-header-info .ts-head {
  font-size: 2rem;
}
#Testimonials .container .ts-header-info .ts-info {
  width: 40%;
}
#Testimonials .container .ts-slick-slider .ts-slider {
  display: flex !important;
  background: linear-gradient(148deg, rgba(1, 152, 255, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1px solid #7b35c8;
  padding: 1rem 2rem 1rem 1rem;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  margin: 0 1rem;
}
#Testimonials .container .ts-slick-slider .ts-slider .ts-img {
  width: 150px;
  height: 150px;
}
#Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .ts-title {
  font-size: 1.4rem;
  font-weight: 700;
}
#Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .ts-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 1.2rem 0;
  font-size: 14px;
}
#Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .client-datas {
  display: flex;
  justify-content: space-between;
}
#Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .client-datas .client {
  display: flex;
}
#Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .client-datas .client .client-name {
  margin-left: 15px;
  line-height: 15px;
}
#Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .client-datas .client .client-name .name {
  font-size: 1.1rem;
  font-weight: 600;
}
#Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .client-datas .client .client-name .client {
  font-size: 12px;
}
#Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .client-datas .star {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .client-datas .star .str-img {
  margin-right: 10px;
}
#Testimonials .container .slick-arrow {
  background-color: #0098ff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 5;
}
#Testimonials .container .slick-prev {
  left: 7px;
}
#Testimonials .container .slick-next {
  right: 7px;
}

@media only screen and (max-width: 950px) {
  #Testimonials .container .ts-info {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  #Testimonials .container .ts-info {
    display: none;
  }
  #Testimonials .container .ts-slick-slider .ts-slider {
    text-align: center;
    flex-direction: column;
    padding: 1rem 0;
  }
  #Testimonials .container .ts-slick-slider .ts-slider .ts-img {
    margin: 0 auto;
    display: block;
  }
  #Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .ts-title {
    font-size: 1.4rem;
    font-weight: 700;
  }
  #Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .ts-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin: 1.2rem 0;
    font-size: 14px;
  }
  #Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .client-datas {
    justify-content: inherit;
    flex-direction: column;
    align-items: center;
  }
  #Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .client-datas .client .client-name .name {
    font-size: 1.1rem;
    font-weight: 600;
  }
  #Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .client-datas .client .client-name .client {
    font-size: 12px;
  }
  #Testimonials .container .ts-slick-slider .ts-slider .ts-product-description .client-datas .star {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  #Testimonials .container .slick-arrow {
    background-color: #0098ff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  #Testimonials .container .slick-prev {
    left: 7px;
  }
  #Testimonials .container .slick-next {
    right: 7px;
  }
}/*# sourceMappingURL=Testimonials.css.map */