#header-main{
	background-color: black;
	color: #fff;
	height: 11rem;
	// height: 108vh;
		.header{
			position: relative;
			.nav{
				position: fixed;
				left: 0;
				right: 0;
				background-color: transparent;
				top: 0;
				z-index: 9999;
				transform: 1s;
				.nav-top{   
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0;
					.pages-list{
						.drp-menu-list-name{
							font-weight: 600;
							margin-bottom: 7px;
							display: inline-block;   
						}
						li{
							margin: 10px 0;
						}
							.gaming-accessories{
							    margin-right: 1.5rem;
                                padding: 27px 0;
                                display: inline-block;
								cursor: pointer;
								transition: .5s ease;
								.drp-menu{
									position: absolute;
									top: 74px;
									left: 0;
									width: 100%;
									background-color: #fff;
									transition: 300ms ease;
									transform-origin: top;
									transform: scaleY(0);
						        .drop-down-gaming-accessories{
									display: flex;
									justify-content: space-between;
									color: black;
									padding: 1rem 0;
								}
							 }
							 &:hover .drp-menu{
								transform: scaleY(1);
							 }
							 &:hover .gaming-rotate-icon{
								transform: rotate(-180deg);
							 }
						 }	
					    	 .pages{
								margin-right: 1.5rem;
								position: relative;
								cursor: pointer;
                                padding: 27px 0;
							    .drp-menu{
									position: absolute;
									top: 74px;
									left: 0;
									width: 200px;
									background-color: #fff;
									transition: 300ms ease;
									transform-origin: top;
									transform: scaleY(0);
									.drop-down-pages{
										color: black;
										padding: 1rem;
									}
								}
								&:hover .drp-menu{
									transform: scaleY(1);
								  }
							 }
					    	 .blog{ 
								margin-right: 1.5rem;
								position: relative;
								padding: 27px 0;
								cursor: pointer;
								.drp-menu{
									position: absolute;
									top: 74px;
									left: 0;
									width: 200px;
									background-color: #fff;
									transition: 300ms ease;
									transform-origin: top;
									transform: scaleY(0);
									.drop-down-blog{
										color: black;
										padding: 1rem;
									}
								}
								&:hover .drp-menu{
									transform: scaleY(1);
								}
							}
							.dr-menu-img{
								width: 300px;
								height: 160px;
								object-fit: cover;
							}
						}
					
				
					.gaming{
						font-size: 2rem;
						font-weight: 700;
						color: #fff;
						position: relative;
						.point{
							font-size: 15px;
							color: blueviolet;
							top: 24px;
                            position: absolute;     
						}
					}
					.login-basket{
						display: flex;
						justify-content: center;
						align-items: center;
						.login{
							margin-left: 1.5rem;
							position: relative;
							padding: 27px 0;
							cursor: pointer;
							.drp-menu{
								position: absolute;
								top: 74px;
								right: 0;
								width: 200px;
								background-color: #fff;
								transition: 300ms ease;
								transform-origin: top;
								transform: scaleY(0);
								.drop-down-login{
									color: black;
									padding: 1rem;
								}
							}
							&:hover .drp-menu{
                             transform: scaleY(1);
							}
							.login-icon{
								font-size: 1.5rem;
							}
						}
						.lang{
							margin-left: 1.5rem;
							font-size: 1.5rem;
							cursor: pointer;
						}
                      .btn-price{
						margin-left: 1.5rem;
						border: 1px solid #fff;
						padding: 5px 15px;
						border-bottom-left-radius: 20px;
						border-top-right-radius: 20px;
					  }
					   .btn-basket{
						position: relative;
						margin-left: 1.5rem;
						background-color: transparent;
						border: none;
						display: flex;
						justify-content: center;
						align-items: center;
						color: #fff;
						cursor: pointer;
						.price{
                          display: flex;
						  flex-direction: column;
						  justify-content: center;
						  align-items: center;
						}
						.basket-icon{
							font-size: 1.5rem;
						}
                          .pr-count{
							position: absolute;
							top: -18px;
							left: 65px;
							width: 30px;
							height: 29px;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 100%;
							background: linear-gradient(93.25deg, #0098ff 4.45%, #7b35c8 93.88%);
							color: #fff;
						  }
					         }	
						.hamburger-menu{
							display: none;
							margin-left: 1rem;
							font-size: 1.5rem;
						}	 
					}
				}
				.nav-line{
					width: 100%;
					height: 1px;
					background-color: rgba(255,255,255,.15);
					border: none;
				}

				.nav-bottom{
					  height: 4rem;
                      display: flex;
					  justify-content: space-between;
					  align-items: center;
					  padding-bottom: 40px;
					  transition: 1s;
					 .new-accessories{
                      color: #fff;
					  font-weight: 700;
					  a{
						text-decoration: underline;
					  }
					 } 
					 .search{
						border: 1px solid #fff;
						padding: .7rem 1rem;
						border-bottom-left-radius: 20px;
						border-top-right-radius: 20px;
						.search-icon{}
						.search-inp{
							border: none;
							padding: 0 7rem 0 1rem;
							outline: none;
							background-color: transparent;
							color: #fff;
						}
					 }
					 .new-collections{
						text-decoration: underline;
					 }
				}
				.bascet-menu{
					position: absolute;
					right: -500px;
					top: 5px;
					height: 100vh;
					width: 500px;
					background-color:white;
					color: #838383;
					transition: all .5s;
					overflow-y: auto;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.bascet-header{
						height: 3rem;
						width: 500px;
						background-color: #1c82f3;
						color: #fff;
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 0 30px;
						position: fixed;
						z-index: 99;
						font-weight: 700;
					}
					 .bascet-product-list{
						margin-top: 2rem;
						.bascet-product{
							width: 400px;
							height: 160px;
							padding: 2rem;
							border: 1px solid #838383;
							margin: 2rem auto;
							display: flex;
							column-gap: 1.5rem;
							.bascet-pr-img{
								width: 100px;
								height: 100px;
							}
							.bascet-pr-datas{
								margin-top: -20px;
							.bascet-pr-title{
								font-size: 1rem;
								font-weight: 300;
								color: black;
								display: -webkit-box;
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 1;
								overflow: hidden;
							}	
							.bascet-pr-type{
								display: inline-block;
								margin: 1rem 0 10px;
							}
							.art-azal{
								border: 1px solid;
								width: 7rem;
								display: flex;
								justify-content: center;
								align-items: center;
								.art,
								.azal
								{
									padding: 0px 16px;
                                    font-size: 1rem;
									cursor: pointer;
									border: none;
									background-color: transparent;
								}
								.pr-count{
									font-size: 1.5rem;
                                    margin: 0 5px; 
								}
							}
							.bascet-pr-price-delete{
								display: flex;
								justify-content: space-between;
								align-items: center;
								margin-top: 20px;
								.delete-icon{
									display: inline-block;
									margin-top: 5px;
									cursor: pointer;
								}
							}
							}
						}
					
					 }
					.basket-bottom{
						background-color: white;
						color: black;
						position: sticky;
					    bottom: 0;
						border-top: 1px solid black;
						padding: 1rem;
						text-align: center;
						z-index: 99;
						font-size: 1.5rem;
						font-weight: 700;
						.suptotal-price{
							display: flex;
							justify-content: space-between;
							margin-bottom: 1rem;
							
						}
						.view-cart{
							display: block;
							font-size: 1.5rem;
							font-weight: 400;
							margin: 15px 0;
							display: flex;
							justify-content: center;
							align-items: center;
							color: black;
							.view-cart-arrow-icon{
								font-size: 2rem;
								margin-left: 15px;
							}
						}
					} 
				}
				.show-menu{
					right: 0;
				}
				.open{
					position: absolute;
					top: 5px;
					right: 505px;
					width: 55px;
					height: 3rem;
					background-color: #1c82f3;
				    border: none;
					cursor: pointer;
					transition: all 1s;
					opacity: 1;
					display: block;
					.close-icon{
						font-size: 1.5rem;
						font-weight: 700;
						color: white;
					}
				}
				.hiden{
					opacity: 0;
					display: none;
				}
			}
		
		}
			}

			.noActiveMenu{
				.nav{  
					background-color: black !important;
			       	}
				.nav-bottom{
					display: none !important;  
				}
				.nav-line{ 
                  display: none;
				}
				
			}

	// header section responsive start
@media only screen and (max-width: 940px) {
	#header-main{
		// height: 75vh;
			.header{
				.nav{
					.nav-top{   
						.pages-list{
							display: none;
							}
						.gaming{
							font-size: 1rem;
							font-weight: 500;
							.point{
								top: 9px;
							}
						}
						.login-basket{
							.login{
								margin-left: 1rem;
								.login-icon{
									font-size: 1rem;
								}
							}
							.lang{
								margin-left: 1rem;
								font-size: 1rem;
							}
						  .btn-price{
							display: none;
						  }
						   .btn-basket{
							margin-left: 1rem;
							.basket-icon{
								font-size: 1.5rem;
							}
								 }	
								.hamburger-menu{
									display: block;
								}
						}
					}
					.nav-line{
						width: 100%;
						height: 1px;
						background-color: rgba(255,255,255,.15);
						border: none;
					}
	
					.nav-bottom{
						display: none;
					}
				}
			}
				 .main-info{
				top: 55%;
				  .main-color-btn{
					padding: 10px 5px;
					font-size: 10px;
					.feature{
						padding:0 5px;
						margin-right: 0;
						font-size: 10px;
					}
					.btn-text{
					}
					.collector{
						margin-left: 4px;
					}
				  }
				  .main-head{
					font-size: 1.5rem;
					font-weight: 500;
					line-height: 1.5rem;
				  }
				  .main-description{
					width: 100%;
				  }
				  .main-btn-list{
					flex-wrap: wrap;
					gap: 1rem;
				}
				 }
					.main-right-img{
						right: 0;
					}
				}
}

	// header section responsive start
	@media only screen and (max-width: 600px) {
		#header-main{
				.header{
					.nav{
						.bascet-menu{
							right: -300px;
							width: 300px;
							z-index: 9999999999999;
							.bascet-header{
								width: 300px;
								justify-content: space-around;
							}
							 .bascet-product-list{
								.bascet-product{
									width: 290px;
									height: 160px;
									padding: 1rem 10px;
									margin: 1rem auto;
									column-gap: 10px;
									.bascet-pr-datas{
										margin-top: -10px;
									}
								}
							 }
						}
						.show-menu{
							right: 0;
						}
						.open{
							right: 246px;
							z-index: 999999999999;
						}
						.hiden{
							opacity: 0;
							display: none;
						}
					}
				}
					}
	}